@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto' !important;
}

.all {
  background: url('https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=valentin-muller-bWtd1ZyEy6w-unsplash.jpg&w=1920');
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  backdrop-filter: blur(10px);
}

.glass-card {
  height: 245px;
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(6px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.card-reminder, .card-link {
  height: 183px;
}

.card-coins, .card-calender {
  height: 374px;
}

.max {
  color: #c00000;
}
.min {
  color: #0027b9;
}